In [3]:
session = 'Afternoon session'
print(session)
print(len(session))
print(session[2:4])
print(session[-5:-1])
print(session.upper())

Afternoon session
17
te
ssio
AFTERNOON SESSION

In [2]:
#concatenation
a = 'Rukundo'
b= 'Benjamin'
print(a + ' ' +b)

Rukundo Benjamin

In [6]:
name = 'dee man'
txt = "i am called {}"
print(txt.format(name))

i am called dee man

In [7]:
#classes
class Dog:
    name = ''
    age = 0
    height = 0
    
Chase = Dog()
Chase.name = 'Chase'
Chase.age = 1
Chase.height = 0.5

print(Chase.name)
print(Chase.age)
print(Chase.height)

Chase
1
0.5

In [3]:
#__init__ method
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
st1 = Student('Rukundo', 21)
st2  = Student('Right', 26)
    
print(st1.name)
print(st1.age)
print(st2.name)
print(st2.age)

Rukundo
21
Right
26

In [28]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [4]:
#inheritance 
class cars:
    def __init__(this, brand,mileage ):
        this.brand = brand
        this.mileage = mileage
    def display(this):
            print('Brand',this.brand,'Mileage',this.mileage)
            
#child)
class team(cars):
    def __init__(this, brand,mileage,team):
        super().__init__(brand,mileage)
        this.team = team
    def childdisplay(this):
        print('Brand',this.brand,'Mileage',this.mileage,'Team',this.team)
team1 = team('Audi',98,"Audi")
team1.childdisplay();
#parent
car = cars("RedBull", 99)
car.display()

Brand Audi Mileage 98 Team Audi
Brand RedBull Mileage 99