In [1]:
#Arrays
cars =['Tesla','Audi','Jeep','Benze']

In [2]:
print(cars)

['Tesla', 'Audi', 'Jeep', 'Benze']

In [11]:
#looping through elements
print(len(cars))
for i in cars:
    print(i)

4
Tesla
Audi
Jeep
Benze

In [8]:
car1 = 'Tesla'
print(cars[0])

Tesla

In [12]:
#appending an array
cars.append('BMW')
print(cars)

['Tesla', 'Audi', 'Jeep', 'Benze', 'BMW']

In [17]:
#removing elements from an array using remove method
cars.pop(2)
print(cars)

['Tesla', 'Jeep', 'BMW']

In [18]:
print(cars)

['Tesla', 'Jeep', 'BMW']

In [19]:
cars.pop()
print(cars)

['Tesla', 'Jeep']

In [20]:
cars[0] = 'Subaru'
print(cars)

['Subaru', 'Jeep']

In [24]:
#Example on iterators
my_tuple = ('Tesla','banana','cherry')
myitera = iter(my_tuple)
print(next(myitera))
print(next(myitera))
print(next(myitera))

Tesla
banana
cherry

In [26]:
#iterate through a string
myname = "Ayiko Mark"
my_itera = iter(myname)
print(next(my_itera))
print(next(my_itera))
print(next(my_itera))
print(next(my_itera))
print(next(my_itera))
print(next(my_itera))
print(next(my_itera))
print(next(my_itera))
print(next(my_itera))
print(next(my_itera))

A
y
i
k
o

M
a
r
k

In [27]:
#looping through an iterator
club = ("chelsea", "arsenal","Liverpool","Man-u")
for team in club:
    print(team)

chelsea
arsenal
Liverpool
Man-u

In [29]:
club = ("LivingStone", "Mitchell","Africa","Complex")
for team in club:
    print(team)

LivingStone
Mitchell
Africa
Complex

In [31]:
#looping through a string
myname = 'Ayiko Mark'
for x in myname:
    if x=="r":
        print("got it")
    else:
        print(x)

A
y
i
k
o

M
a
got it
k

In [32]:
for i in range(1, 7):
    print(2 * i, end=" ")
print()

2 4 6 8 10 12

In [48]:
# Generate numbers 0 to 20
for x in range(1,6):
    print(x, end=" ")

1 2 3 4 5

In [49]:
# Generate numbers 0 to 20
# Exes
for x in range(1 ,21):
    print(x ,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [43]:
#python user input
username = input("Enter username: ")
print("my name is " + username)

Enter username: Adrian
my name is Adrian